
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:wght@300;500;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  body {
    background-color: #151514;
    color: white;
    font-family: 'Almarai', sans-serif;
  }

  /* NAVBAR */
.navbar {
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: space-between;
    align-items: center;
    background-color: #151514;
    color: #fff;
    padding: 30px 45px;
    height: 12vh;
  }

  /* Nav Logo */
.logo {
    height: auto;
    width: 70px;
    font-weight: bold;
  }
  
  .logo-img {
    height: auto;
    width: 150px;
    font-weight: bold;
  }

  /* Nav Links Container */
.nav-items {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    text-transform: uppercase;
  }
  
  /* Nav Links */
  .nav-item {
    margin-right: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .nav-item a {
    color: white;
  }
  
  .nav-item::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width 0.3s;
  }
  
  .nav-item:hover::after {
    width: 100%;
  }
  
/* RES-NAV */
#mobile-menu-button {
    display: none;
  }
  #close-btn {
    display: none;
  }




/* HERO BUTTON */
.btn {
    background-color: rgba(239, 64, 54, 1);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 5px;
    color: black;
    padding: 10px 40px;
  }
  
  .btn:hover {
    background-color: rgba(239, 64, 54, 1);
    transform: scale(1.05);
    color: white;
  }
  
  .content-body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    animation: itemFade 0.5s ease-in-out forwards;
  }
  
  /* HERO SECTION */
  .hero {
    border-radius: 21px;
    min-height: 60vh;
    max-height: 90vh;
    width: 75%;
    padding: 20px;
    background: linear-gradient(to bottom, #232323, #151514);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3vh;
    animation: itemFade 0.5s ease-in-out forwards;
    justify-content: center;
  }
  .heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .heading {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    animation: itemFade 0.5s ease-in-out forwards;
  }
  
  .subheading {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    animation: itemFade 0.5s ease-in-out forwards;
    border-bottom: 4px solid #462321;
  }
  
  .hero-tag {
    color: rgba(239, 64, 54, 1);
  }
  
  .hero-p {
    padding-top: 5px;
    font-weight: 300;
    color: rgba(133, 133, 133, 1);
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Poppins", sans-serif;
  }
  
  .hero-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    padding-top: 40px;
    animation: itemFade 0.5s ease-in-out forwards;
    font-family: "Poppins", sans-serif;
  }

/* WHY CHOOSE ALLOTRIX */
.why-choose {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  .why-choose-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }


  .background-text {
    position: absolute;
    bottom: 44px;
    right: 97px;
    width: 100%;
    height: 100%;
    font-size: 20em;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 8px #1d1d18;
    text-align: center;
    overflow: hidden;
    pointer-events: none;
    z-index: -2;
    transform: rotate(-90deg); 
    }
  
  .why-choose-head {
    font-weight: 300;
    color: rgba(133, 133, 133, 1);
    font-family: "Poppins", sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px;
    font-weight: 300;
    font-size: 1.2rem;
    width: 700px;
    text-align: center;
    animation: itemFade 0.5s ease-in-out forwards;
  }
  
  .why-choose-item {
    height: 275px;
    width: 275px;
    background-color: #1C1C1C;
    border-radius: 20px;
    padding: 30px;
  }
  
  .head {
    display: flex;
    gap: 14px;
    align-items: center;
  }
  
  .head img {
    width: 60px;
    height: 60px;
  }
  
  .head p {
    font-size: 1.4em;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
  }
  
  .why-choose-item aside p {
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    color: #C8C8C8;
    margin-top: 20px;
  }
  

/* FEATURES SECTION */
#features {
    background-color: #1C1C1C;
    padding: 40px 200px;
    width: 100%;
  }
  
  #features h3 {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
  }
  
  #features h4 {
    color: #C8C8C8;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
  }
  
  .feature-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }
  
  .feature-item {
    height: 290px;
    width: 300px;
    background-color: #462321;
    border-radius: 20px;
    padding: 20px;
  }
  
  .feature-head {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .feature-head svg {
    width: 50px;
    height: 50px;
    font-weight: bold;
  }
  
  .feature-head p {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    color: #FFD4D4;
  }
  
  .feature-item aside p {
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    color: #FFD4D4;
    margin-top: 20px;
    text-align: center;
  }
  
/* PRICING SECTION */
.pricing-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.pricing-head {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 45px;
    background: linear-gradient(to bottom, #EF4036, #A6241D, #A31008);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 40px;
  }
  
  .subs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 50px 0;
  }
  
  .subs-item {
    width: 275px;
    height: 400px;
    border: 2px solid #AA362F;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .subs-item h3 {
    font-size: 28px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  
  .subs-item h2 {
    font-size: 36px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  
  .sub-data {
    margin-top: 30px;
  }
  
  .sub-data article {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .sub-data img {
    height: 25px;
    width: 25px;
  }
  
  .sub-data p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 10px 0;
  }
  

/* LIFETIME ACCESS */
.life-access {
    height: 150px;
    width: 100%;
    background-color: #1C1C1C;
    margin: 100px 0;
    padding: 50px;
    box-shadow: 0px 5px 10px #AA362F, 0px -5px 10px #AA362F;
  }
  
  .life-access-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  .life-access-container h3 {
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 800px;
  }
  
  .life-access-container svg {
    font-size: 40px;
    font-weight: bold;
  }
  
/* CONTACT SECTION */
.contact {
    margin-bottom: 100px;
  }
  
  .contact h2 {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: -2px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #4E4E4E;
    margin-bottom: 20px;
  }


  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    animation: itemFade 0.5s ease-in-out forwards;
  }
  
  .name-email {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-self: center;
  }
  
  textarea {
    margin-top: -10px;
  }
  
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ccc;
    border-radius: 10px;
    animation: itemFade 0.5s ease-in-out forwards;
    font-size: 16px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    animation: itemFade 0.5s ease-in-out forwards;
  }
  
  form button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #EF4036;
    width: 125px;
    align-self: center;
    padding: 5px 0;
  }
  
  #close-btn {
    display: none;
  }


  /* WORKING CONTAINER*/

  .base-container{
    height: 100vh;
    width: 100%;
    align-items: center;
  }

  #working-container{
    height: calc(100vh - 12vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    
  }

/*LOADING SCREEN*/

.loading-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-weight: bolder;
    z-index: 9999;
    pointer-events: auto;
    font-family: "proxima-nova-soft", sans-serif;
    font-size: 7rem;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow: hidden;
  }


  
  .splash {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .splash .content {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .splash img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .loader-border:before,
  .loader-border:after,
  .loader-border span:before,
  .loader-border span:after {
    background: #ffffff;
    display: block;
    content: "";
    position: absolute;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .loader-border:before,
  .loader-border:after {
    animation-name: borderwidth;
    height: 3px;
    width: 0;
  }
  
  .loader-border:before {
    top: 0;
    left: 0;
  }
  
  .loader-border:after {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .loader-border span:before,
  .loader-border span:after {
    height: 0;
    width: 3px;
    animation-name: borderheight;
  }
  
  .loader-border span:before {
      top: 0;
      left: auto;
      right: 0;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
  }
  
  .loader-border span:after {
      top: auto;
      bottom: 0;
      left: 0;
      -webkit-animation-delay: 1.5s;
      animation-delay:  1.5s;
  }
  
  /* Animations */
  
  @-webkit-keyframes borderwidth {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  @keyframes borderwidth {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  @-webkit-keyframes borderheight{
    from {
      height: 0;
    }
  
    to {
      height: 100%;
    }
  }
  
  @keyframes borderheight{
    from {
      height: 0;
    }
  
    to {
      height: 100%;
    }
  }
 
  /*TESTIMONIAL*/

  .testimonial-heading{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 45px;
    background: linear-gradient(to bottom, #EF4036, #A6241D, #A31008);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    padding: 60px;
  }
 

  .wrappe {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 20px; /* Adjust the gap between items */
    justify-content: center;
}
.wrappe .contin{
    position: relative;
    width: 350px;
    color: #fff;
    background-color: #3e3c3c;
    margin: 40px 10px;
    padding: 30px 20px;
    border-radius: 3px ;
    transition: 0.3s ease;
}
.wrappe .contin .profi{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    width: 100%;
    display: block;
}
.wrappe .contin .profi .imgBx{
    position: relative;
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 8px solid #070c0d;
    border-radius: 50%;
    overflow: hidden;
}
.wrappe .contin .profi .imgBx img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
}
.wrappe .contin .profi .imgBx:hover img{
    filter: saturate(140%);
    transform: scale(0.95);
}
.wrappe .contin .profi h2{
    padding: 5px 0;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}
.wrappe .contin p {
    margin-top: 10px;
    color: #fff;
    padding: 0 8px;
    font-size: 15px;
    opacity: 0.8;
}
.wrappe .contin .left{
   height: 30px;
   width: 30px;
   margin-top: 60px;

}
.wrappe .contin .left  img{
  
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.wrappe .contin .right{
    height: 30px;
    width: 30px;
}
.wrappe .contin .right img{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.wrappe .contin .soci img{
    padding: 8px;
height:50px;
    background-color: rbga(255,255,255,0.08);
    border-radius: 4px;
    box-shadow: 0 4px 4px rbga(0,0,0,0.5);
 
}
.wrappe .contin .soci img:hover{
    background-color: #3b7cf5;
}



/*DOWNLOAD PAGE*/
.download-container{
  border-radius: 21px;
  min-height: 60vh;
  max-height: 90vh;
  gap: 20px;
  width: 75%;
  padding: 20px;
  background: linear-gradient(to bottom, #232323, #151514);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3vh;
  animation: itemFade 0.5s ease-in-out forwards;
  justify-content: center;


}

.download-heading-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.download-heading{
  font-size: 65px;
  font-weight: 300;
  text-align: center;
}

.download-button-container{
  display: flex;
  justify-content: center;
  margin-left: 10px;
  gap: 30px;
}


.tutorial-heading-container{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;

}

.tutorial-container{

  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.tutorial-container iframe{
  border-radius: 12px;

}

.download-page-contact-message{
  font-weight: 100;
}

.download-page-contact-message a{
  cursor: pointer;
  color: white;
}

.download-page-contact-message a:hover{
  color: red;
}



/* POP UP */

.hidden {
  display: none;
}



.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background-color: #242529;
  box-shadow: 0 2px 4px 5px rgba(0, 0, 0, 0.3);
  overflow-y: auto;

}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #242529;
  padding: 10px 20px;
  border-bottom: 1px solid grey;

}

.pop-up-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  width: 100%;
  gap: 30px;
}

.logged-in-container {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  width: 450px;
  background: #fff;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  margin-top: 100px;
}

.logged-in-container .account-name {
  width: 325px;
  text-align: center;
  margin: 5px 0;
}

.logged-in-container .login-btn {
  width: 120px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  color: #fff;
  font-weight: lighter;
  text-transform: uppercase;
}

.download-dropdown {
  width: 450px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  text-align: center;
}

.download-btn {
  padding: 5px 30px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 10px;
  font-weight: 100;
  background-color: #E43F35;
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.download-btn:hover {
  padding: 8px 40px;
}

.popup-header h1 {
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  color: #EF4036;
  font-weight: 300;
  font-size: 22px;
  padding: 12px;
  cursor: pointer;
}
.close-button:hover{
  border-radius: 100px;
  padding: 12px;
  background-color: grey;
}

/* ACCOUNT*/

.account{
  height: 45px;
  width: 45px;
  border: 2px solid #EF4036;
  border-radius: 10000px;
  cursor: pointer;
  font-weight: bold;
  justify-content: center;
  display: flex;
  gap: 4px;
  color: #D9D9D9;
  background-image: url("https://tr.rbxcdn.com/38c6edcb50633730ff4cf39ac8859840/420/420/Hat/Png");
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.main-content{
	width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;

}

.account-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding: 30px;
  width: 100%;
}
.no-account{
  color: #EF4036;
  font-weight: bold;
}
.no-account:hover{
  color: #fff;
}
.login_form{
  width: 75%;
  padding: 20px;
}

.container-fluid{
  display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}


/* PARTNERS */

.sponsor-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 30px;
  grid-gap: 20px;
  width: 100%;
  justify-content: center;
}

.sponsor-logo {
  width: 50%;
  height: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-logo img {
  width: 100%;
  height: auto;
}

  /* TABLET VIEW */
@media (max-width: 912px) {
    .hero {
      border-radius: 21px;
      min-height: 39vh;
      max-height: 90vh;
      width: 75%;
      padding: 20px;
      background: linear-gradient(to bottom, #232323, #151514);
      display: flex;
      flex-direction: column;
      text-align: center;
      animation: itemFade 0.5s ease-in-out forwards;
      justify-content: center;
    }
  
    .navbar {
      padding: 0 20px;
    }
  
    .nav-items {
      gap: 20px;
    }
  
    .nav-item {
      margin-right: 0;
    }
  
    .why-choose {
      width: 100%;
    }
  
    #features h3 {
      text-align: center;
    }
  
    #features h4 {
      text-align: center;
    }
  
    .life-access-container h3 {
      font-size: 16px;
      width: 62%;
    }
  }
  
  @media (max-width: 768px) {
  
    .nav-items {
      position: absolute;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      top: 12vh;
      padding: 15px 0px;
      height: 45vh;
      right: 0;
      width: 0%;
      background-color: #151514;
      overflow: hidden;
      transition: all 300ms;
      z-index: 1;
    }
  
  
    #mobile-menu-button {
      display: block;
      font-size: 30px;
      color: white;
      background: transparent;
      border: none;
      outline: none;
    }
  
    .hero {
      min-height: 40vh;
    }
  
    .heading {
      font-size: 40px;
    }
  
    .subheading {
      font-size: 35px;
    }
  
    .hero-p {
      font-size: 16px;
    }
  }
  
  /* MOBILE VIEW */
  @media (max-width: 450px) {

    .account-container{
      display: none;
    }
  
    .btn {
      width: 200px;
      padding: 10px 15px;
    }
  
    .why-choose-head {
      width: 100%;
    }
  
    #features {
      padding: 0;
      padding-bottom: 50px;
    }
  
    #features h3 {
      margin: 30px 0;
    }
  
    #features h4 {
      padding: 0 20px;
    }
  
    .pricing-head {
      margin: 30px 0;
    }
  
    form {
      padding: 20px;
    }
  
    .name-email {
      flex-direction: column;
      gap: unset;
      margin-bottom: 6px;
    }
  
    .hero {
      flex-direction: column;
      padding: 15px;
      min-height: 55vh;
    }
  
    .heading {
      font-size: 30px;
    }
  
    .subheading {
      font-size: 25px;
    }
  
    .hero-p {
      font-size: 14px;
    }

    .why-choose-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        margin: 50px;
      }

      .loading-screen {
        font-size: 3.4em;
      
      }

      .main-content{
        width: 80%;
      }

      #pop-up-content{
        height: 85%;
      }
      .download-heading{
        font-size: 30px;
      }

      .download-container {
        min-height: 35vh;
        justify-content: center;
        align-items: center;

      }
      .download-button-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

      }

      .tutorial-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      iframe{
        width: 90%;
        height: 70%;
      }

      .logged-in-container {
        width: 370px;
      }

      .download-dropdown {
        width: 370px;
      }
  
  }